body{
    font-family: 'Roboto Serif', serif;
}

.logo {
    background-image: url(../img/pattern.png);
    background-color: #4da1ff;
    height: 109px;
    color: #f6f8f9;
    
}

h1 {
    font-weight:bolder;
    font-size: 40px;
}

.editors{
    color: #898989;
    line-height: 0px;
}

span{
    color: #2fb2e7
}

.photo{
    line-height: 0%;
}

thead{
    background-color: #1aabe6;
    color: white;
}

.table-blue{
    background-color: rgba(26, 171, 230, 0.4)
}

span{
    background-color: yellow;
}